<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MemberSignUp</servlet-name>
        <servlet-class>Controller.MemberSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>Controllers.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInController</servlet-name>
        <servlet-class>Controllers.SignInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutController</servlet-name>
        <servlet-class>Controllers.SignOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSeeUsersController</servlet-name>
        <servlet-class>Controllers.AdminSeeUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MemberSignUp</servlet-name>
        <url-pattern>/MemberSignUp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MemberSignIn</servlet-name>
        <servlet-class>Controller.MemberSignIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MemberSignIn</servlet-name>
        <url-pattern>/MemberSignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/SignupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInController</servlet-name>
        <url-pattern>/SignInController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutController</servlet-name>
        <url-pattern>/SignOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSeeUsersController</servlet-name>
        <url-pattern>/AdminSeeUsersController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
